.navbar{
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.nav-dark{
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
  }

.nav-light{
    color: hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 100%);
}
  /* 
### Neutral

- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

.question{
    margin-right: auto;
    font-weight: 600;
}

.mode{
    display: flex;
    cursor: pointer;
    user-select: none;
}

.moon-icon{
    margin-right: 5px;
}