.navbar{
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    z-index: 999;
}

.nav-dark{
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
  }

.nav-light{
    color: hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 100%);
}

.question{
    margin-right: auto;
    font-weight: 600;
}

.mode{
    display: flex;
    cursor: pointer;
    user-select: none;
}

.moon-icon{
    margin-right: 5px;
}